.frame-paragraph {
    /* position: absolute; */
    width: 100%;
    height: 1.0625rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    font-weight: normal;
    color: #FFFFFF;
    font-family: inter;
}
