.intro{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 18rem;
    margin: 2.75rem 1rem 2.375rem 1rem;
}


@media screen and (min-width: 768px){
    .intro{
        width: 45rem;
        margin: 3.4375rem 0 4rem 0;
    }
}

@media screen and (min-width: 1280px){
    .intro{
        width: 63.5625rem;
        margin: 5.75rem 0;
    }
}


