.lead__subtitle{
    font-size: 1rem;
    line-height: 1.25rem;
    width: 18rem;
    margin: 3.75rem 0 2.5rem 0;
    height: auto;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
    font-family: inter;
    
}



@media screen and (min-width: 768px){
    .lead__subtitle{
        width: 45rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 6.1875rem 0 4.3125rem 0;
    }
}

