.frame-button {
  width: 18rem;
  height: 3rem;
  border-radius: .25rem;
  margin: .5rem 1rem 1.25rem 1rem;
  background: #0278FE;
  border: none;
}

.place:nth-child(5) .frame-button:nth-child(5) {
  margin-top: 0;
}

.frame-button:hover {
  background: #006dd2;
}

@media screen and (min-width: 768px) {
  .place__frame {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    margin-top: 3.5rem;
    height: 3rem;
  }

  .frame-button {
    width: 22.1875rem;
    margin: 0;
  }

  .place:nth-child(1) .place__frame:nth-child(6) {
    margin-top: 8.75rem;
  }

  .place:nth-child(2) .place__frame:nth-child(6) {
    margin-top: 160px;
  }

  .place:nth-child(4) .place__frame:nth-child(7) {
    margin-top: 160px;
  }
}

@media (min-width: 1280px) {
  .place__frame{
    grid-column-start: 1;
    grid-row-start: 4;
    width: 22.1875rem;
    height: 3rem;
  }
  .place:nth-child(1) .place__frame:nth-child(6) {
    margin-top: 3rem;
  }

  .place:nth-child(2) .place__frame:nth-child(6) {
    margin-top: 2rem;
  }
  .place:nth-child(3) .place__frame:nth-child(6) {
    margin-top: 0;
  }

  .place:nth-child(4) .place__frame:nth-child(7) {
    margin: 0;
    margin-top: 3rem;
  }

  .place:nth-child(5) .frame-button:nth-child(5) {
    margin: 0;
    margin-top: 48px;
  }

}